<section class="hero py-16">
  <div class="container px-8 mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg"><em>Are you hungry?</em></h6>
      <h1 class="text-3xl md:text-6xl font-bold">Don't Wait !</h1>
      <button class="order-now px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">
        <a href="#Menu">Order Now</a>
      </button>
    </div>
    <div class="w-1/2">
      <img src="/img/hero-pizza.png" alt="" />
    </div>
  </div>
</section>
<section id="Menu" class="menu container px-8 mx-auto py-8 mb-5">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
    <% categories.forEach(function(category) { %>
    <div class="w-full md:w-64">
      <img class="h-40 mb-4 mx-auto" src="/img/<%= category.image %>" alt="" />
      <div class="text-center">
        <form id="category-form-<%= category._id %>" action="/pizzas/<%= category.linkName %>" method="POST">
          <input type="hidden" name="category_id" value="<%= category._id %>"></input>
          <input type="hidden" name="categoryName" value="<%= category.name %>"></input>
          <h2 id="cat" class="mb-4 text-lg"><a
              onclick="document.getElementById('category-form-<%= category._id %>').submit()"
              href="#"><%= category.name %></a></h2>
        </form>
      </div>
    </div>
    <% }) %>
  </div>
</section>